Repository d-protsenko/smartactors-core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:core_features, build:system_features, build:core_pack, build:common_features, build:server_development_tools, build:das, build:server

.gitlab-ci.yml:

stages:
  - build
#  - deploy
#  - build with sources
#  - deploy with sources

.maven:
  image: $CI_REGISTRY/docker/das:0.5.0-jdk-8-slim
  variables:
    MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"
    MAVEN_OPTS: "-Djava.awt.headless=true -Dorg.slf4j.simpleLogger.defaultLogLevel=warn"
  before_script:
    - mkdir -p /cache/.m2/repository
    - ln -sf /cache/.m2/repository /root/.m2/repository

.build:
  stage: build
  extends: .maven
  artifacts:
    expire_in: 8h
    paths:
      - build

build:core_features:
  extends: .build
  only:
    refs:
      - develop
    changes:
      - CoreFeatures/*
  script:
    - cd CoreFeatures && das make

build:system_features:
  extends: .build
  only:
    refs:
      - develop
    changes:
      - SystemActors/*
  script:
    - cd SystemActors && das make

build:core_pack:
  extends: .build
  only:
    refs:
      - develop
    changes:
      - CorePack/*
  script:
    - echo

build:common_features:
  extends: .build
  only:
    refs:
      - develop
    changes:
      - CommonFeatures/*
  script:
    - cd CommonFeatures && das make

build:server_development_tools:
  extends: .build
  only:
    refs:
      - develop
    changes:
      - ServerDevelopmentTools/*
  script:
    - cd ServerDevelopmentTools && das make
  
build:das:
  extends: .build
  only:
    refs:
      - develop
    changes:
      - das/*
  script:
    - cd das && mvn clean package
    
build:server:
  extends: .build
  only:
    refs:
      - develop
    changes:
      - Servers/Server2/*
  script:
    - cd Servers/Server2 && das make

Updated gitlab file.
  .gitlab-ci.yml
Due: none

Added description for SetParamsToLoadFromFileWrapper's methods
  CoreFeatures/RemoteManagement/FeatureLoadStarterActor/src/main/java/info/smart_tools/smartactors/remote_management/feature_load_starter_actor/wrapper/SetParamsToLoadFromFileWrapper.java
Due: none

Fixed names
  CoreFeatures/VersionManagement/ChainVersionManager/src/main/java/info/smart_tools/smartactors/version_management.chain_version_manager/ChainIdFromMapNameStrategy.java
Due: none

Fixed javadoc info
  CoreFeatures/RemoteManagement/FeatureLoadStarterActor/src/main/java/info/smart_tools/smartactors/remote_management/feature_load_starter_actor/wrapper/SetParamsToLoadFromFileWrapper.java
Due: none

fixes for bugs 5928 and 5929 from redmine
  CoreFeatures/Database/DatabaseStorage/src/main/java/info/smart_tools/smartactors/database/database_storage/utils/CollectionName.java
  CoreFeatures/HttpEndpoint/NettyClient/src/main/java/info/smart_tools/smartactors/http_endpoint/netty_client/NettyClient.java
Due: none

Refactoring.
  .gitlab-ci.yml
  CoreFeatures/Task/ThreadPool/src/test/java/info/smart_tools/smartactors/task/thread_pool/ThreadImplTest.java
  ServerDevelopmentTools/Interfaces/IServer/pom.xml
  ServerDevelopmentTools/Interfaces/IServer/src/main/java/info/smart_tools/smartactors/server_developing_tools/interfaces/iserver/IServer.java
  ServerDevelopmentTools/Interfaces/IServer/src/main/java/info/smart_tools/smartactors/server_developing_tools/interfaces/iserver/exception/ServerExecutionException.java
  ServerDevelopmentTools/Interfaces/IServer/src/main/java/info/smart_tools/smartactors/server_developing_tools/interfaces/iserver/exception/ServerInitializeException.java
  ServerDevelopmentTools/Interfaces/IServer/src/main/java/info/smart_tools/smartactors/server_developing_tools/interfaces/iserver/exception/package-info.java
  ServerDevelopmentTools/Interfaces/IServer/src/main/java/info/smart_tools/smartactors/server_developing_tools/interfaces/iserver/package-info.java
  ServerDevelopmentTools/Interfaces/IServer/src/test/java/info/smart_tools/smartactors/server_developing_tools/interfaces/iserver/ServerExecutionExceptionTest.java
  ServerDevelopmentTools/Interfaces/IServer/src/test/java/info/smart_tools/smartactors/server_developing_tools/interfaces/iserver/ServerInitializeExceptionTest.java
  ServerDevelopmentTools/Interfaces/InterfacesDistribution/bin.xml
  ServerDevelopmentTools/Interfaces/InterfacesDistribution/pom.xml
  ServerDevelopmentTools/Interfaces/config.json
  ServerDevelopmentTools/Interfaces/pom.xml
  ServerDevelopmentTools/ServerInterfaces/IServer/pom.xml
  ServerDevelopmentTools/ServerInterfaces/IServer/src/main/java/info/smart_tools/smartactors/server_interfaces/interfaces/iserver/IServer.java
  ServerDevelopmentTools/ServerInterfaces/IServer/src/main/java/info/smart_tools/smartactors/server_interfaces/interfaces/iserver/exception/ServerExecutionException.java
  ServerDevelopmentTools/ServerInterfaces/IServer/src/main/java/info/smart_tools/smartactors/server_interfaces/interfaces/iserver/exception/ServerInitializeException.java
  ServerDevelopmentTools/ServerInterfaces/IServer/src/main/java/info/smart_tools/smartactors/server_interfaces/interfaces/iserver/exception/package-info.java
  ServerDevelopmentTools/ServerInterfaces/IServer/src/main/java/info/smart_tools/smartactors/server_interfaces/interfaces/iserver/package-info.java
  ServerDevelopmentTools/ServerInterfaces/IServer/src/test/java/info/smart_tools/smartactors/server_interfaces/interfaces/iserver/ServerExecutionExceptionTest.java
  ServerDevelopmentTools/ServerInterfaces/IServer/src/test/java/info/smart_tools/smartactors/server_interfaces/interfaces/iserver/ServerInitializeExceptionTest.java
  ServerDevelopmentTools/ServerInterfaces/ServerInterfacesDistribution/bin.xml
  ServerDevelopmentTools/ServerInterfaces/ServerInterfacesDistribution/pom.xml
  ServerDevelopmentTools/ServerInterfaces/config.json
  ServerDevelopmentTools/ServerInterfaces/pom.xml
  ServerDevelopmentTools/das.data
  ServerDevelopmentTools/pom.xml
  Servers/Server2/Server/pom.xml
  Servers/Server2/Server/src/main/java/info/smart_tools/smartactors/servers/server2/server/Server.java
  Servers/ServerWithFeatures/pom.xml
  Servers/ServerWithFeatures/src/main/java/info/smart_tools/smartactors/servers/server_with_features/ServerWithFeatures.java
  Servers/ServerWithFeatures/src/test/java/info/smart_tools/smartactors/servers/server_with_features/ServerWithFeaturesTest.java
  build.sh
  script.sh
Due: build:server_development_tools

Version of ServerDevTools has been rised to 0.6.1.
  ServerDevelopmentTools/ServerInterfaces/IServer/pom.xml
  ServerDevelopmentTools/ServerInterfaces/ServerInterfacesDistribution/pom.xml
  ServerDevelopmentTools/ServerInterfaces/pom.xml
  ServerDevelopmentTools/das.data
Due: build:server_development_tools

Updated gitlab config.
  .gitlab-ci.yml
  script.sh
Due: none

Fixed version of DT project.
  ServerDevelopmentTools/ServerInterfaces/IServer/pom.xml
  ServerDevelopmentTools/ServerInterfaces/pom.xml
  ServerDevelopmentTools/das.data
  ServerDevelopmentTools/pom.xml
  das/.das.swp
Due: build:server_development_tools, build:das

Added ci config file.
  .gitlab-ci.yml
Due: none

Remove quotes from postgres collection name when creating primary key from this name
  CoreFeatures/Database-postgresql/PostgresSchema/src/main/java/info/smart_tools/smartactors/database_postgresql/postgres_schema/PostgresSchema.java
Due: none

Added host info to 'Connection failed' message'
  CoreFeatures/HttpEndpoint/NettyClient/src/main/java/info/smart_tools/smartactors/http_endpoint/netty_client/NettyClient.java
Due: none

fix to remove quotes in table key name
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionTask/src/main/java/info/smart_tools/smartactors/database_postgresql_create_collection_if_not_exists/create_collection_task/CreateIndexIfNotExistsSchema.java
Due: none

Rise versions of changed features to 0.6.1
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionActor/pom.xml
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionActorPlugin/pom.xml
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionPlugin/pom.xml
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionTask/pom.xml
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/DatabasePostgresqlCreateCollectionIfNotExistsDistribution/pom.xml
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/pom.xml
  CommonFeatures/das.data
  CoreFeatures/Database/AsyncOperationCollection/pom.xml
  CoreFeatures/Database/CachedCollection/pom.xml
  CoreFeatures/Database/DatabaseDistribution/pom.xml
  CoreFeatures/Database/DatabaseStorage/pom.xml
  CoreFeatures/Database/IDatabase/pom.xml
  CoreFeatures/Database/IDatabaseTask/pom.xml
  CoreFeatures/Database/IStorageConnection/pom.xml
  CoreFeatures/Database/SqlCommons/pom.xml
  CoreFeatures/Database/pom.xml
  CoreFeatures/HttpEndpoint/NettyClient/src/main/java/info/smart_tools/smartactors/http_endpoint/netty_client/NettyClient.java
  CoreFeatures/das.data
Due: build:core_features, build:common_features

Implemented EventHandler.
  CoreFeatures/EventHandler/EventHandler/pom.xml
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/Event.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IEvent.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IExtendedEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToConsoleEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToFileEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/exception/EventHandlerException.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/exception/ExtendedEventHandlerException.java
  CoreFeatures/EventHandler/EventHandler/src/test/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerTest.java
  CoreFeatures/EventHandler/EventHandlerDistribution/bin.xml
  CoreFeatures/EventHandler/EventHandlerDistribution/pom.xml
  CoreFeatures/EventHandler/config.json
  CoreFeatures/EventHandler/pom.xml
  CoreFeatures/das.data
  CoreFeatures/pom.xml
  Servers/Server2/Server/pom.xml
  Servers/Server2/Server/src/main/java/info/smart_tools/smartactors/servers/server2/server/Server.java
Due: build:core_features

Refactoring.
  CoreFeatures/Base/UpCounter/pom.xml
  CoreFeatures/ClassManagement/AdvancedClassLoader/pom.xml
  CoreFeatures/ClassManagement/HierarchicalClassLoader/pom.xml
  CoreFeatures/ClassManagement/ModuleManager/pom.xml
  CoreFeatures/ClassManagement/SimpleClassLoader/pom.xml
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IEventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IExtendedEventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToConsoleEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToFileEventHandler.java
  CoreFeatures/VersionManagement/ChainVersionManager/pom.xml
Due: none

Added javadocs.
  CoreFeatures/Base/ApplyFunctionToArgumentsStrategy/src/main/java/info/smart_tools/smartactors/base/strategy/apply_function_to_arguments/package-info.java
  CoreFeatures/Base/InitializationException/src/main/java/info/smart_tools/smartactors/base/exception/initialization_exception/InitializationException.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/Event.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IEvent.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IEventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IExtendedEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IExtendedEventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToConsoleEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToFileEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/exception/EventHandlerException.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/exception/ExtendedEventHandlerException.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/exception/package-info.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/package-info.java
  CoreFeatures/IOC/IOC/src/main/java/info/smart_tools/smartactors/ioc/ioc/IOC.java
Due: none

Added tests.
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToConsoleEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToFileEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/test/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerContainerTest.java
  CoreFeatures/EventHandler/EventHandler/src/test/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerTest.java
  CoreFeatures/EventHandler/EventHandler/src/test/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToConsoleEventHandlerTest.java
  CoreFeatures/EventHandler/EventHandler/src/test/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToFileEventHandlerTest.java
Due: none

Fexed a lot of checkstyle warnings.
  CommonFeatures/AsyncOperations/CreateAsyncOperationActor/src/main/java/info/smart_tools/smartactors/async_operations/create_async_operation/wrapper/CreateAsyncOperationMessage.java
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionActor/src/main/java/info/smart_tools/smartactors/database_postgresql_create_collection_if_not_exists/create_collection_actor/CreateCollectionActor.java
  SystemActors/SystemActorPack/ActorCollectionReceiver/src/main/java/info/smart_tools/smartactors/system_actors_pack/actor_collection_receiver/ActorCollectionRouter.java
  SystemActors/SystemActorPack/ObjectEnumerationActor/src/main/java/info/smart_tools/smartactors/system_actors_pack/object_enumeration_actor/wrapper/EnumerationResult.java
  das/src/main/java/info/smart_tools/smartactors/das/Das.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/AddOnActorCreationUploadRepository.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/AddOnFeatureCreationUploadRepository.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/AddOnPluginCreationUploadRepository.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/AddOrUpdateActorUploadRepository.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/AddOrUpdateFeatureUploadRepository.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/AddOrUpdatePluginUploadRepository.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/CreateActor.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/CreateFeature.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/CreatePlugin.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/CreateProject.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/CreateServer.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/DownloadCore.java
  das/src/main/java/info/smart_tools/smartactors/das/models/Actor.java
  das/src/main/java/info/smart_tools/smartactors/das/models/Feature.java
Due: none

Refactoring.
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/Event.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IEvent.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToConsoleEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToFileEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToFileWriterParameters.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/exception/EventHandlerException.java
  CoreFeatures/EventHandler/EventHandler/src/test/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToConsoleEventHandlerTest.java
  CoreFeatures/EventHandler/EventHandler/src/test/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToFileEventHandlerTest.java
  Servers/Server2/Server/src/main/java/info/smart_tools/smartactors/servers/server2/server/Server.java
Due: none

Fixed a lot of checkstyle warnings.
  7bits-checkstyle.xml
  CommonFeatures/Email/EmailActor/src/main/java/info/smart_tools/smartactors/email/email_actor/MailingActor.java
  CommonFeatures/Email/EmailActor/src/main/java/info/smart_tools/smartactors/email/email_actor/email/MessagePartCreators.java
  CommonFeatures/Email/EmailActor/src/main/java/info/smart_tools/smartactors/email/email_actor/email/SMTPMessageAdaptor.java
  das/src/main/java/info/smart_tools/smartactors/das/Das.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/CreateServer.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/DownloadCore.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/ImportProject.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/UpdateActorVersion.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/UpdateFeatureVersion.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/UpdatePluginVersion.java
  das/src/main/java/info/smart_tools/smartactors/das/models/Feature.java
  das/src/main/java/info/smart_tools/smartactors/das/models/Plugin.java
  das/src/main/java/info/smart_tools/smartactors/das/models/Project.java
  das/src/main/java/info/smart_tools/smartactors/das/models/UploadRepository.java
  das/src/main/java/info/smart_tools/smartactors/das/utilities/FileBuilder.java
  das/src/main/java/info/smart_tools/smartactors/das/utilities/JsonFile.java
  das/src/main/java/info/smart_tools/smartactors/das/utilities/MavenXpp3WriterWithCustomIndentation.java
  das/src/main/java/info/smart_tools/smartactors/das/utilities/ParameterResolver.java
  das/src/main/java/info/smart_tools/smartactors/das/utilities/PomBuilder.java
  das/src/main/java/info/smart_tools/smartactors/das/utilities/PomReader.java
  das/src/main/java/info/smart_tools/smartactors/das/utilities/ProjectResolver.java
  das/src/main/java/info/smart_tools/smartactors/das/utilities/TemplatePathBuilder.java
  das/src/main/java/info/smart_tools/smartactors/das/utilities/interfaces/IProjectResolver.java
Due: none

Fixed several checkstyle warnings.
  CoreFeatures/Checkpoint/FailureAction/src/main/java/info/smart_tools/smartactors/checkpoint/failure_action/CheckpointFailureActionSectionStrategy.java
  CoreFeatures/IObjectExtension/CObject/src/main/java/info/smart_tools/smartactors/iobject_extension/configuration_object/ConfigurationObject.java
Due: none

Refactoring.
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IExtendedEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IExtendedEventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToConsoleEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/exception/ExtendedEventHandlerException.java
  CoreFeatures/EventHandler/EventHandler/src/test/java/info/smart_tools/smartactors/event_handler/event_handler/PrintToConsoleEventHandlerTest.java
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFile/src/main/java/info/smart_tools/smartactors/event_handler_with_logging_to_file/event_handler_with_logging_to_file/PrintToFileEventHandler.java
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFile/src/main/java/info/smart_tools/smartactors/event_handler_with_logging_to_file/event_handler_with_logging_to_file/PrintToFileWriterParameters.java
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFile/src/test/java/info/smart_tools/smartactors/event_handler_with_logging_to_file/event_handler_with_logging_to_file/PrintToFileEventHandlerTest.java
Due: none

Refactoring.
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerWithPrintToFileEventHandler.java
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFile/pom.xml
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFile/src/main/java/info/smart_tools/smartactors/event_handler_with_logging_to_file/event_handler_with_logging_to_file/EventHandlerWithPrintToFileEventHandler.java
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFile/src/main/java/info/smart_tools/smartactors/event_handler_with_logging_to_file/event_handler_with_logging_to_file/PrintToFileEventHandler.java
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFile/src/main/java/info/smart_tools/smartactors/event_handler_with_logging_to_file/event_handler_with_logging_to_file/PrintToFileWriterParameters.java
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFile/src/main/java/info/smart_tools/smartactors/event_handler_with_logging_to_file/event_handler_with_logging_to_file/package-info.java
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFile/src/test/java/info/smart_tools/smartactors/event_handler_with_logging_to_file/event_handler_with_logging_to_file/PrintToFileEventHandlerTest.java
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFileDistribution/bin.xml
  CoreFeatures/EventHandlerWithLoggingToFile/EventHandlerWithLoggingToFileDistribution/pom.xml
  CoreFeatures/EventHandlerWithLoggingToFile/config.json
  CoreFeatures/EventHandlerWithLoggingToFile/pom.xml
  CoreFeatures/das.data
  CoreFeatures/pom.xml
  Servers/Server2/Server/src/main/java/info/smart_tools/smartactors/servers/server2/server/Server.java
Due: build:core_features

Refactoring.
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/Event.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerContainer.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerWithPrintToFileEventHandler.java
  CoreFeatures/EventHandler/EventHandler/src/main/java/info/smart_tools/smartactors/event_handler/event_handler/IEvent.java
  CoreFeatures/EventHandler/EventHandler/src/test/java/info/smart_tools/smartactors/event_handler/event_handler/EventHandlerContainerTest.java
  CoreFeatures/IOC/IocContainer/src/main/java/info/smart_tools/smartactors/ioc/ioc_container/Container.java
Due: none

Removed deploy-section from pom.xml of all das-modules in CommonFeatures
  CommonFeatures/AsyncOperations-plugins/PluginCheckValidityAsyncOperationActor/pom.xml
  CommonFeatures/AsyncOperations-plugins/PluginCloseAsyncOperationActor/pom.xml
  CommonFeatures/AsyncOperations-plugins/PluginCreateAsyncOperationActor/pom.xml
  CommonFeatures/AsyncOperations-plugins/PluginGetAsyncOperationActor/pom.xml
  CommonFeatures/AsyncOperations/CheckValidityAsyncOperationActor/pom.xml
  CommonFeatures/AsyncOperations/CloseAsyncOperationActor/pom.xml
  CommonFeatures/AsyncOperations/CreateAsyncOperationActor/pom.xml
  CommonFeatures/AsyncOperations/GetAsyncOperationActor/pom.xml
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionActor/pom.xml
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionActorPlugin/pom.xml
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionPlugin/pom.xml
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionTask/pom.xml
  CommonFeatures/Email-plugins/PluginEmailActor/pom.xml
  CommonFeatures/Email/EmailActor/pom.xml
Due: none

Reorder feature building
  pom.xml
Due: none

Changed all repository names and urls according to task #5932 description
  CommonFeatures/DatabasePostgresqlCreateCollectionIfNotExists/CreateCollectionActorPlugin/pom.xml
  CommonFeatures/das.data
  CommonFeatures/pom.xml
  CoreFeatures/das.data
  CoreFeatures/pom.xml
  CorePack/pom.xml
  CorePacks/Core/pom.xml
  CorePacks/CoreForServer2/pom.xml
  DemoFeatures/SimpleChain/pom.xml
  README.md
  ServerDevelopmentTools/Interfaces/IServer/pom.xml
  ServerDevelopmentTools/das.data
  ServerDevelopmentTools/pom.xml
  Servers/Server2/pom.xml
  Servers/ServerWithFeatures/pom.xml
  SystemActors/das.data
  SystemActors/pom.xml
  das/pom.xml
  das/readme.txt
  das/resources/dafault_values
  das/resources/project_pom.template
  das/src/main/java/info/smart_tools/smartactors/das/commands/CreateServer.java
  das/src/main/java/info/smart_tools/smartactors/das/commands/DownloadCore.java
Due: build:core_features, build:system_features, build:core_pack, build:common_features, build:server_development_tools, build:das, build:server

Completely removed module.rid and module.rurl variables from all pom.xml files since they are unnecessary any more.
  CommonFeatures/pom.xml
  CoreFeatures/pom.xml
  CorePack/pom.xml
  CorePacks/Core/pom.xml
  CorePacks/CoreForServer2/pom.xml
  DemoFeatures/SimpleChain/pom.xml
  ServerDevelopmentTools/pom.xml
  Servers/Server2/pom.xml
  Servers/ServerWithFeatures/copy-core-artifacts/pom.xml
  Servers/ServerWithFeatures/pom.xml
  SystemActors/pom.xml
  das/pom.xml
  das/resources/project_pom.template
Due: build:core_features, build:system_features, build:core_pack, build:common_features, build:server_development_tools, build:das, build:server

Removed excess dependencies in Base
  CoreFeatures/Base/UpCounter/pom.xml
Due: none

Added new template of pom.xml (for future features).
  das/templates/pom.xml__template
Due: none

Fix for bug #5935 - now feature is downloaded if version changed in features.json.
  CoreFeatures/FeatureManagement/AfterFeaturesCallbackStorage/pom.xml
  CoreFeatures/FeatureManagement/AllInDirectoryFeatureTracker/pom.xml
  CoreFeatures/FeatureManagement/AllInDirectoryFeatureTracker/src/main/java/info/smart_tools/smartactors/feature_management/all_in_direcory_feature_tracker/AllInDirectoryFeatureTracker.java
  CoreFeatures/FeatureManagement/DirectoryWatcherActor/pom.xml
  CoreFeatures/FeatureManagement/DownloadFeatureActor/pom.xml
  CoreFeatures/FeatureManagement/Feature/pom.xml
  CoreFeatures/FeatureManagement/FeatureCreatorActor/pom.xml
  CoreFeatures/FeatureManagement/FeatureManagementDistribution/pom.xml
  CoreFeatures/FeatureManagement/FeatureManagementPlugins/pom.xml
  CoreFeatures/FeatureManagement/FeatureManagerActor/pom.xml
  CoreFeatures/FeatureManagement/IFeature/pom.xml
  CoreFeatures/FeatureManagement/LoadFeatureActor/pom.xml
  CoreFeatures/FeatureManagement/UnzipFeatureActor/pom.xml
  CoreFeatures/FeatureManagement/pom.xml
  CoreFeatures/das.data
Due: build:core_features

Added version-management and its plugins to default server composition
  CorePack/core.json
Due: build:core_pack

Start developing fulltext search separation
  CoreFeatures/Database-postgresql-plugins/PluginPostgresDBTasks/src/main/java/info/smart_tools/smartactors/database_postgresql_plugins/postgres_db_tasks_plugin/PostgresDBTasksPlugin.java
  CoreFeatures/Database-postgresql/PostgresAddFulltextTask/pom.xml
  CoreFeatures/Database-postgresql/PostgresAddFulltextTask/src/main/java/info/smart_tools/smartactors/database_postgresql/postgres_add_fulltext_task/AddFulltextMessage.java
  CoreFeatures/Database-postgresql/PostgresAddFulltextTask/src/main/java/info/smart_tools/smartactors/database_postgresql/postgres_add_fulltext_task/PostgresAddFulltextTask.java
  CoreFeatures/Database-postgresql/PostgresAddFulltextTask/src/main/java/info/smart_tools/smartactors/database_postgresql/postgres_add_fulltext_task/package-info.java
  CoreFeatures/Database-postgresql/PostgresAddFulltextTask/src/test/java/info/smart_tools/smartactors/database_postgresql/postgres_add_fulltext_task/PostgresAddFulltextTaskTest.java
  CoreFeatures/Database-postgresql/pom.xml
Due: none
